.TakeNotes{
    display: inline-block;
    border: 2px solid #150505;
}

.Take{
    border: 0px;
    outline: none;
    width: 370px;
    font-size: large;
    margin-left: 5px;
}

.Title{
    border: 0px;
    outline: none;
    width: 370px;
    font-size: large;
    margin-left: 5px;
}